*{
    background-color: #D4F0FF;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  #divBusca{
    display: flex;
    justify-content: center;
    padding: 24px;  
    border-color: #D4F0FF;
    background-color: #D4F0FF;
  
  
  }
  #txtBusca { 
      font-family: 'Sanchez', serif;
      font-size: 18px;
      padding: 10px;
      background-color: #D4F0FF;    
      width: 500px;
      height: 42px;
      border: none;
      background: #FFFFFF;
      border-radius: 8px;
      margin: none;
             
  }
  
  #buscar{
      width: 42px;
      height: 42px;
      border-radius: 8px;
      background: #FFFFFF; 
      border: none;
      margin-left: 5px;
  }
    
  span.material-icons{
    background-color: #FFFFFF;
  }