
*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Sanchez', serif;
  background-color: #D4F0FF;
}

#root{
  width: 100vw;
  height: 100vh;
  
  background-color: #D4F0FF;
}

#logo{
  width: 100vw;
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img{
  position: absolute;
  width: 30vw;
  height: 25vh;

  padding-top: 5vh;
}

#background-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

#background-image img{
  position: fixed;
  top: 25vh;

  width: 600px;
  height: 600px;

}

#divBusca{
  display: flex;
  justify-content: center;
  padding: 24px;  
  border-color: #D4F0FF;
  background-color: #D4F0FF;


}

#txtBusca { 
    font-family: 'Sanchez', serif;
    font-size: 18px;
    padding: 10px;
    background-color: #D4F0FF;    
    width: 500px;
    height: 42px;
    border: none;
    background: #FFFFFF;
    border-radius: 8px;
    margin: none;
           
}

#buscar{
    width: 42px;
    height: 42px;
    border-radius: 8px;
    background: #FFFFFF; 
    border: none;
    margin-left: 5px;
}
  
span.material-icons{
  background-color: #FFFFFF;
}

#container-card{
  position: absolute;

  margin-top: 5vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  
  background: none;
}

#create-card{
  width: 22vw;
  height: 60vh;

  margin: 10px;

  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 10px;
  background-color: #FFFFFF;
}

.character-name{
  margin: 10px;
  padding: none;

  font-size: 18px;
  color: #16ACC9;
  background: #FFFFFF;
}

.character-image{
  width: 16vw;
  height: 40vh;

  border-radius: 10px;
}

.button-card{
  width: 45px;
  height: 45px;

  margin: 20px;

  border: none;
  border-radius: 60px;
  background: #FFE872;
}

.button-card:hover {
  width: 45px;
  height: 45px;

  margin: 20px;

  border: none;
  border-radius: 60px;
  background: #82E36C;
}

span.material-icons{
  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}
