
*{
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  font-family: 'Sanchez', serif;
  background-color: #D4F0FF;
}

#root{
  width: 100vw;
  height: 100vh;  
  
  background-color: #D4F0FF;
}

#logo{
  width: 100vw;
  height: 20vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#logo img{
  position: absolute;
  width: 40vw;
  height: 25vh;

  padding-top: 5vh;
}

#background-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

#background-image img{
  position: absolute;
  top: 29vh;

  width: 600px;
  height: 600px;
}

#divBusca{
  position: absolute;

  width: 100vw;
  height: 15vh;

  margin: 30px;
  padding: 18px;  

  display: flex;
  align-items: center;
  justify-content: center;
  
  background: none;
}

#txtBusca { 
  width: 500px;
  height: 50px;

  margin: none;
  padding: 10px;
    
  border: none;
  border-radius: 8px;

  background: #FFFFFF;
  outline-color: #16ACC9;

  font-size: 16px;
  color: #16ACC9;
}

#buscar{
  width: 50px;
  height: 50px;

  margin-left: 5px;

  border: none;
  border-radius: 8px;

  background: #FFFFFF; 
  outline-color: #16ACC9;

  cursor: pointer;
}
  
span.material-icons{
  background-color: #FFFFFF;
}

.btnOrder{
  margin: 5px;
  padding: 3px;

  border: #16ACC9 solid 2px;
  border-radius: 5px ;
  outline: #16ACC9;
}

.btnOrder:hover{
  margin: 6px;
  padding: 5px;

  color: #16ACC9 ;
  border: #16ACC9 solid 2px;
  border-radius: 5px ;
  outline: #16ACC9;
}

#container-card{
  position: relative;

  margin-top: 20vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  
  background: none;
}

#create-card{
  width: 40vw;
  height: 55vh;

  margin: 10px;

  display: inline-flex;


  border-radius: 10px;
  background-color: #FFFFFF;
}

.info-card {
  padding-left: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: none;
}

.card-modal{
  width: 65vw;
  margin: 5%;
  padding: 3%;

  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;

  border-radius: 10px;
  background-color: #FFE872;
}

.span-modal{
  margin-left: 20px;
  padding-bottom: 20px;
  background: none;
}

.character-name{
  position: relative;
  margin: 15px;
  padding: none;


  font-size: 18px;
  color: #16ACC9;
  background: #FFFFFF;
}

.character-image{
  position: relative;
  width: 16vw;
  height: 35vh;

  border-radius: 10px; 
}

@media(min-width: 660px) and (max-width: 880px){
  #logo img{
    width: 60%;
    height: 20%;
  }

  #background-image{
    display: none;
    width: 100%;
    height: 20%;
  }
  #divBusca{
    width: 100%;
  }

  #txtBusca{
    width: 84%;

  }

  #buscar{
    width: 20%;
  }

  .btnOrder{
    width: 15%;
  }
  
  #create-card{
    padding-left: 5%;
    width: 80%;
  }

  .character-image {
    width: 100%;
    height: 60%;
  }
} 

@media(min-width: 330px) and (max-width: 660px){
  #logo img{
    width: 60%;
    height: 20%;
  }

  #background-image{
    display: none;
    width: 100%;
    height: 20%;
  }

  #divBusca{
    width: 100%;
  }

  #txtBusca{
    width: 84%;

  }

  #buscar{
    width: 20%;
  }

  .btnOrder{
    width: 20%;
  }
  
  #create-card{
    padding: 5%;
    width: 80%;
    height: 80%;
  }

  .character-image {
    width: 100%;
    height: 60%;
  }
}

/* @media(min-width: 660px) and (max-width: 880px){
  #divBusca{
    width: 100%;
  }

  #txtBusca{
    width: 84%;

  }

  #buscar{
    width: 20%;
  }

  .btnOrder{
    width: 15%;
  }
  
  #create-card{
    padding-left: 5%;
    width: 80%;
  }

  .character-image {
    width: 100%;
    height: 60%;
  }
} 

@media(min-width: 330px) and (max-width: 660px){
  #logo img{
    width: 60%;
    height: 20%;
  }

  #background-image{
    display: none;
    width: 100%;
    height: 20%;
  }

  #divBusca{
    width: 100%;
  }

  #txtBusca{
    width: 84%;

  }

  #buscar{
    width: 20%;
  }

  .btnOrder{
    width: 20%;
  }
  
  #create-card{
    padding: 5%;
    width: 80%;
    height: 80%;
  }

  .character-image {
    width: 100%;
    height: 60%;
  }
} */